#carouselExampleIndicators{
    margin-top: 40px;
}
.texto-corpo-rigth{
    margin-left: 5%;
    color: #BA0F14;
    /*font-family: 'Syne';*/
    font-weight: bold;
}
a:hover { 
    text-decoration-color:#BA0F14; 
    color: #FFF;
}


.texto-corpo-rigth p{
    color: #BA0F14;
    font-size:300%;
}

.corpo-site{
    margin: 50px 25px 25px 25px;
}

.texto-corpo-simples{
    margin-left: 5%;
    font-family: 'Syne';
    background-color: #BA0F14;
    border-radius: 30px;
    width: 100%;
}

.texto-corpo-simples p{
    color: #FFF;
    font-size:250%;
    margin-left: 5%;
}

.texto-corpo-subtitulo{
    margin-left: 5%;
    color: #BA0F14;
    margin-top: 20px;
    font-size: 170%;
    font-weight: 700;
}
.quadro-detalhes{
    width: 150%;
}


.objetoseta{
    font-size:48px;
    color:#BA0F14;
}

.img-notamaxima{
    margin-left: -100px;
}
.img-modelo{
    margin-left: -100px;
    height: 105%;
    width: 105%;
}
.linha-barra{
    height:4px;
    border-width:0;
    color: #FFF;
    background-color: #FFF;
}

.banner-cursos{
    background-color: #FFF;
    border-radius: 30px;
    margin: 50px 25px 25px 25px;
}
.espaco-padrao-imagem{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 60px;
}
.espaco-padrao-texto{
    margin-top: 100px;
    margin-bottom: 60px;
}
.fonte-banner-padrao p{
    color: #818181;
    font-size: 150%;
}

.titulo-h1 h2{
    color: #BA0F14;
    font-weight: 700;
    font-size: 300%;
}

.small-text{
    color: #BA0F14;
    font-size: 60%;
}

.small-text-subtitulo{
    color: #BA0F14;
    font-size: 300%;
    font-weight: 100;
}

.inscreva{
    background-color: #25d366;
    color: #FFF;
    border-radius: 30px;
    text-align: center;
    margin-top: 5%;
    font-size: 90%;
    font-weight: 700;
}

.font-paragrafo{
    color: #BA0F14;
    font-size: 200%;
}

.box {
    float: left;
    height: 100%;/*Altura da linha*/
}
   
.linha-vertical {
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    color: #BA0F14;
}
.select-center-dropdown{
    width: 90%;
    margin-left: 10%; 
}

.font-selec-dropdown{
    color: #818181;
}

.margin-top-bottom{
    margin-top: 70px;
    margin-bottom: 20px;
}

.texto-posgraduacao{
    font-size: 100%;
    background-image: url("paper.gif");
    background-color: #cccccc;
}

.homeprincipal{
    width: 100%;
    min-height:800px;
    background: url('../../img/backgroundhome.jpg') no-repeat center top; background-size: 100% 100%;
}
.homecurso{
    width: 100%;
    min-height:800px;
    background: url('../../img/backgroundcurso2.png') no-repeat center top; background-size: 100% 100%;
}
.titulocorpo{
   
    font-size: 300%;
    color: #ffcc00;
}
.titulocorpo_margin{
    margin-top: 5%;
}

.titulocorpo_texto_maior{
    font-size: 180%;
}

.curso-titulo{
    color: #FFF;
    font-size: 200%;
}

.curso-titulo2{
    color: #FFF;
    font-size: 150%;
}

.row-margin{
    margin-left: 5%;
    margin-right: 5%;
}
.curso-cards{
    background-color: #FFF;
    color: #000;
    border-radius: 15px ;
    margin-top: 2%;
    width: 100%;
    border:  15px solid transparent;
}

.curso-button{
    background-color: #FFF;
    color: #002c82;
    border-radius: 15px ;
    width: 100%;
    text-align: center;
    border:  4px solid transparent;
    margin-top: 2%; 
}
.box{
    padding: 0 20px 0 20px;
}
.curso-button2{
    background-color: #002c82;
    color: #ffcc00;
    border-radius: 15px ;
    width: 100%;
    text-align: center;
    border:  10px solid transparent;
    margin-top: 2%;
}
.curso-button3{
    background-color: #002c82;
    color: #ffcc00;
    border-radius: 15px ;
    width: 100%;
    text-align: center;
    font-size: 250%;
    border:  10px solid transparent;
    margin-top: 2%;
}


.card-cidade{
    margin-top: 5%;
    color: #c0c0c0;
}
.card-tipocurso{
    color: #c0c0c0; 
}
.card-valores{
    text-align: right;
}.card-valor1{
    color: #c0c0c0;
    text-decoration: line-through;
}


.titulocorpo-curso{
    font-size: 250%;
    color: #FFF;
    text-align: center;
}
.subtitulocorpo-curso{
    font-size: 350%;
    color: #FFF;
    text-align: center;
}

.barraamarela{
    margin-left: 10%;
  
}
.titulotexto-curso{
    font-size: 200%;
    color: #FFF;
}

.subtitulotexto-curso{
    font-size: 300%;
    color: #FFF;
}


.texto-curso{
    font-size: 150%;
    color: #FFF;
    margin-top: 3%;
    text-align: justify;
}

@media only screen and (max-width: 1400px){
    .titulo-h1 h2{
        color: #BA0F14;
        font-weight: 700;
    }
    
    .inscreva{
        background-color: #25d366;
        color: #FFF;
        border-radius: 30px;
        text-align: center;
        margin-top: 5%;
        font-size: 90%;
        font-weight: 700;
    }
    .curso-button3{
        background-color: #002c82;
        color: #ffcc00;
        border-radius: 15px ;
        width: 100%;
        text-align: center;
        font-size: 160%;
        border:  15px solid transparent;
        margin-top: 2%;
    }
    
}

@media only screen and (max-width: 1200px){
    .texto-corpo-simples{
        width: 800px;
    }
    .texto-corpo-simples p{
        font-size: 32px;
        color: #FFF;
        margin-left: 5%;
    }
    .quadro-detalhes{
        width: 150%;
    }
    .texto-corpo-subtitulo{
        margin-left: 5%;
        color: #BA0F14;
        margin-top: 20px;
        font-size: 120%;
        font-weight: 700;
    }
    .titulo-h1 h2{
        color: #BA0F14;
        font-weight: 700;
        font-size: 250%;
    }
    .small-text-subtitulo{
        color: #BA0F14;
        font-size: 200%;
        font-weight: 100;
    }

    .margin-top-bottom{
        margin-top: 10px;
        margin-bottom: 0px;
    }
  

}


@media only screen and (max-width: 900px){
    .texto-corpo-rigth p{
        color: #BA0F14;
        font-size:150%;
    }
    
    .texto-corpo-simples{
        width: 50%;
    }
    .texto-corpo-simples p{
        font-size: 130%;
        color: #FFF;
        margin-left: 5%;
    }
    .img-notamaxima{
        margin-left: 10px;
    }
    .img-modelo{
        margin-left: 10px;
    }
    .quadro-detalhes{
        width: 100%;
    }

    #carouselExampleIndicators{
        margin-top: 20px;
    }
    .fonte-banner-padrao p{
        color: #818181;
        font-size: 100%;
    }
    .titulo-h1 h2{
        color: #BA0F14;
        font-weight: 700;
        font-size: 150%;
    }
    
    .inscreva{
        background-color: #25d366;
        color: #FFF;
        border-radius: 30px;
        text-align: center;
        margin-top: 5%;
        font-size: 90%;
        font-weight: 700;
    }

    .font-paragrafo{
        color: #BA0F14;
        font-size: 120%;
    }
    
    .select-center-dropdown{
        width: 100%;
        margin-left: 0%;
        
    }  
    
}

@media only screen and (max-width: 600px){
    .texto-corpo-rigth p{
        color: #BA0F14;
        font-size:150%;
    }
    .texto-corpo-subtitulo p{
        color: #BA0F14;
        font-size: 70%;
    }
    
    .texto-corpo-simples{
        width: 60%;
    }
    .texto-corpo-simples p{
        font-size: 130%;
        color: #FFF;
        margin-left: 5%;
    }
    .texto-corpo-subtitulo{
        margin-left: 5%;
        color: #BA0F14;
        margin-top: 20px;
        font-size: 90%;
        font-weight: 700;
    }
    .img-notamaximabanner{
        width: 50%;
        
    }

    .espaco-padrao-imagem{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    .espaco-padrao-texto{
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .titulo-h1 h2{
        color: #BA0F14;
        font-weight: 700;
        font-size: 200%;
    }
    
    .inscreva{
        background-color: #25d366;
        color: #FFF;
        border-radius: 30px;
        text-align: center;
        margin-top: 5%;
        font-size: 110%;
        font-weight: 700;
    }
    
    .barraamarela{
        margin-left: 5%;
      
    }
    
}
